#header {background-color: #0066ff;}
#footer {background-color: #0066ff;}
table.listing tr.fastTracked {background-color: #0066ff;}
a {color: #3366ff;}
a:link {color: #3366ff;}
a:active {color: #3366ff;}
a:visited {color: #3366ff;}
a:hover {color: #3366ff;}
input.defaultButton {color: #3366ff;}
body {background-color: ;}
input.defaultButton {background-color: ;}
body {color: ;}
input.defaultButton {color: ;}
